.add-review {
    min-width: 30rem;
    border-radius: 4px;
    background-color: rgba(88, 87, 87, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.radio-btns {
    padding: .1rem;
    margin-block-end: 1rem;
}

.add-review form {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(1fr, auto) auto;
    gap: 10px;

    h4 {
        grid-column: span 2;
        color: var(--gray1);
        justify-self: center;
    }

    label {
        color: var(--gray1);
        grid-column: 1;
    }

    input {
        grid-column: 2;
        border-radius: 4px;
        border: none;
    }

    button {
        grid-column: span 2;
        justify-self: center;
    }
}