.app-header {
    background-color: var(--clr1bg);
    border-bottom: 1px solid var(--gray2);
    color: var(--clr1);
    padding-block: .25em;
    padding-inline: 5vw;
}

.app-header section:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header h1 {
    font-size: 40px;
}


.app-header .app-nav {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
    font-weight: 600;
}

a {
    cursor: pointer;
    transition: scale .3s ease-in-out;
}

a:hover {
    font-weight: bolder;
}

/* a.active {
    font-weight: bold;
    scale: 1.1;
    color: var(--clr2);
} */