.book-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-preview h2 {
    text-transform: capitalize;
}

.book-preview img {
    width: 100%;
}