.user-msg {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    box-shadow: 1px 2px 20px 9px rgb(0 0 0 / 33%);
    animation: slideIn 3s ease-in-out;
}

.user-msg.success {
    background-color: #e6eafb;
    color: #859ff2;
}

.user-msg.error {
    background-color: #f4e0e1;
    color: #ff4457;
}

.user-msg h4 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.user-msg button {
    background-color: hsl(0 0% 100%/0.35);
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    width: fit-content;
    /* aspect-ratio: 1; */
    align-self: end;
    color: inherit;
    border-radius: 50%;
    margin: 0;
    margin-top: 1rem;
}

.user-msg button:hover {
    background-color: hsl(0 0% 100%/0.55);
}