:root {
    --clr1: rgb(132, 195, 239);
    --clr2: rgb(178, 191, 201);

    --clr1bg: rgba(242, 243, 244, 0.632);
    --clr1bg-light: rgba(224, 236, 246, 0.696);
    --clr2bg: rgb(216, 237, 249);
    --clr2bg-light: rgb(241, 217, 231);

    --gray1: #f3efef;
    --gray2: #d4d4d4;
    --gray3: #636363e8;
}