* {
    box-sizing: border-box;
}


body {
    margin: 0;
    color: var(--gray3);
    font-size: 1.2rem;
}


.loader {
    display: flex;
    justify-self: center;
    margin: 3em;
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow:
        calc(1*var(--d)) calc(0*var(--d)) 0 0,
        calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d)) calc(1*var(--d)) 0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
        calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0 .5em;
    font-family: 'Edu VIC WA NT Beginner';
}

p {
    margin: 0 0 1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: inherit;
    font-style: italic;
}

label {
    font-family: "Lato", sans-serif;
    font-style: italic;
}

ul {
    padding: .5rem;

}

li {
    font-family: "Lato", sans-serif;
    font-style: italic;
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
    max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}